# Django-related files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Dependency directories
venv/
env/
node_modules/

# IDE files
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi

# Test coverage reports
htmlcov/
.coverage
.coverage.*

# Environment variables
.env

#storage
storage/